<% provide :title, t(".title") %>
<div class="banner">
  <div class="banner-main">
    <div class="slider-bann wow bounceInRight" data-wow-delay="0.3s">
      <ul class="rslides" id="slider2">
        <li>
          <h3><%= t "wecome1" %></h3>
          <h4><%= t "wecome2" %></h4>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="what-we-do">
  <div class="container">
    <div class="what-we-do-main  wow bounceInLeft" data-wow-delay="1s">
      <h2><%= t "what" %></h2>
      <span class="lft-bar-we"></span>
      <span class="rit-bar-we"></span>
      <p><%= t "review" %></p>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="visit">
  <div class="container">
    <div class="visit-main wow bounceInRight" data-wow-delay="1.5s">
      <div class="visit-top">
        <h3><%= t "visit_place" %></h3>
        <span class="lft-bar-visit"></span>
        <span class="rit-bar-visit"></span>
      </div>
      <div class="visit-bottom">
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="map">
  <iframe src=
    "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59587.99506
    132246!2d105.80194403492769!3d21.022692966300447!2m3!1f0!2f0!3f0!3
    m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72
    ca17a9!2zSMOgIE7hu5lpLCBIb8OgbiBLaeG6v20sIEjDoCBO4buZaSwgVmnhu4d0I
    E5hbQ!5e0!3m2!1svi!2s!4v1477409829701"></iframe>
  <div class="footer">
    <div class="container">
      <div class="footer-main">
        <div class="col-md-4 ftr-grids wow bounceIn" data-wow-delay="0.4s">
          <ul class="mid-grid">
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
