<div class="row">
    <div class="col-md-1">
      <div class="thumbnail">
        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= comment.user.name %></strong> <span class="text-muted">
            <%= time_ago_in_words(comment.created_at) %></span>
        </div>
      <div class="panel-body"><%= comment.body %></div>

      <div class="row">
        <% unless comment.commentable_type == "Comment" %>
          <%= link_to t("comment.reply"), new_comment_comment_path(comment),
            class: "glyphicon glyphicon-share-alt",
            id: "new_link", remote: true %>
        <% end %>
        <div class="col-md-3 col-md-offset-9">
          <% if policy(comment).destroy? %>
            <% if comment.commentable_type == "Review" %>
              <%= link_to t(:delete), review_comment_path(@review, comment),
                method: :delete, data: {confirm: t(:delete_confirm)},
                class: "glyphicon glyphicon-trash" %>

            <% elsif comment.commentable_type == "Tour" %>
              <%= link_to t(:delete), tour_comment_path(@tour, comment),
                method: :delete, data: {confirm: t(:delete_confirm)},
                class: "glyphicon glyphicon-trash" %>

            <% else %>
              <%= link_to t(:delete), comment_comment_path(comment),
                method: :delete, data: {confirm: t(:delete_confirm)},
                  class: "glyphicon glyphicon-trash" %>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>

<ul>
  <%= render partial: "comments/comment", collection: comment.comments %>
</ul>
