<% provide :title, t("static_pages.contact.title") %>
<div class="container">
<div class="row">
<div class="col-sm-4">
<h3><%= t "static_pages.contact.team" %></h3>
<hr>
  <address>
    <strong><%= t "static_pages.contact.address" %></strong>
      <%= t "static_pages.contact.address_at" %><br>
    <strong><%= t "static_pages.contact.phone" %>
      <%= t "static_pages.contact.phone_number" %></strong>
  </address>
</div>
