<% if items.blank? %>
  <li>
    <%= link_to search_path(params[:search]),
      class: "btn btn-default btn-block" do %>
      <%= "No results for #{params[:search]}" %>
    <% end %>
  </li>
<% else %>
  <div class="scrollable-menu">
    <% items.each do |item| %>
        <% if item.is_a? Place %>
            <%= render "places/search_item", place: item %>
        <% elsif item.is_a? Tour %>
            <%= render "tours/search_item", tour: item %>
        <% end %>
    <% end %>
  </div>
  <li class="divider"></li>
  <li>
    <%= link_to search_path(params[:search]),
      class: "btn btn-default btn-block" do %>
      <%= "See more #{items.size} for #{params[:search]}" %>
    <% end %>
  </li>
<% end %>
