<% provide :title, @review.title %>
<div class="hotel">
  <div class="container">
    <div class="hotel-main">
      <div class="hotel-head">
        <h1><%= @review.title %></h1>
        <span class="lft-bar-welcom"> </span>
        <span class="rit-bar-welcom"> </span>
        <center>
          <div class="row">
            <div class="col-md-9 col-md-offset-1">
              <li><h4><%= t "hours",
                hour: time_ago_in_words(@review.created_at) %>
                <%= t :by %><%= @review.user.name %></h4></li>
            </div>
            <div class="col-md-2">
              <%= link_to t(:edit), edit_review_path(@review),
                class: "btn btn-default btn-xs glyphicon glyphicon-edit" %>
              <%= link_to t(:delete), review_path(@review),
                method: :delete, data: {confirm: t(:delete_confirm)},
                class: "btn btn-default btn-xs glyphicon glyphicon-trash" %>
            </div>
          </div>
        </center>
      </div>
      <div class="hotel-bottom">
        <div class="experts wow bounceInRight">
          <%= @review.content.html_safe %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "comments/form", locals: {commentable: @review} %>
<div class="commentsd">
  <% if @comments.any? %>
    <%= render @comments, review: @review %>
  <% end %>
</div>
