<div class="about">
  <div class="container">
    <div class="about-main">
      <h1><%= t "place" %></h1>
      <span class="lft-bar-about"> </span>
      <span class="rit-bar-about"> </span>
      <div class="col-md-6 about-left wow bounceInLeft">
        <%= image_tag @place.image, class: "img-responsive" %>
      </div>
      <div class="col-md-6 about-right wow bounceInRight">
        <h4><%= @place.name %></h4>
        <p><%= @place.description.html_safe %></p>
        <div class="about-list">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="linespace"></div>
      <div class="hotel-bottom">
        <div class="experts wow bounceInRight">
          <%= render @tours %>
          <div class="clearfix">
            <%= paginate @tours, theme: "twitter-bootstrap-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gallery">
  <div class="container">
    <div class="galley-grid wow bounceInLeft">
      <h1><%= t "review" %></h1>
      <span class="lft-bar-gallery"> </span>
      <span class="rit-bar-gallery"> </span>
    </div>
    <div class="project-top wow fadeInUp animated">
      <%= render @reviews %>
      <div class="clearfix">
        <%= paginate @reviews, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</div>
