<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"><%= t ".sr_only" %></span>
      </button>
      <%= link_to t(".title"), root_path, class: "navbar-brand" %>
    </div>
    <%= form_tag search_path, method: :get,
                 class: "navbar-form navbar-left", id: "livesearch_form" do %>
        <div class="form-group dropdown">
          <%= text_field_tag :search, params[:search],
             class: "form-control dropdown-toggle",
             placeholder: "Search...",
             "data-toggle": "dropdown", "aria-hidden": :true,
             autocomplete: :off, required: true, id: "livesearch_input" %>
          <ul class="dropdown-menu">
            <div id="livesearch_dom"></div>
          </ul>
        </div>
    <% end %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b><%= t ("review.title") %></b><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t("review.new"), new_review_path %></li>
              <li><%= link_to t("review.index"), reviews_path %></li>
            </ul>
          </li>
          <li id="notification_li">
            <a id="notificationLink">
              <%= t "static_pages.notification.count_notifi",
                count_activity: "#{@count_activities}" %>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <b><%= t ".navbar_signed_in" %></b>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to current_user.email,
                edit_user_registration_path %></li>
              <li><%= link_to t("user_resources.signout"),
                destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><p class="navbar-text"><%= t ".navbar_text" %></p></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b><%= t ".login" %></b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <%= simple_form_for :user,
                      url: session_path(:user) do |f| %>
                      <%= f.input :email %>
                      <%= f.input :password %>
                      <%= f.input :remember_me, as: :boolean %>
                      <%= f.button :submit %>
                    <% end %>
                    <%= t ".login_via" %>
                    <div class="social-buttons">
                      <%= link_to user_facebook_omniauth_authorize_path do %>
                        <div class="btn btn-fb">
                          <i class="fa fa-facebook"></i><%= t ".facebook" %>
                        </div>
                      <% end %>
                      <a href="#" class="btn btn-tw">
                        <i class="fa fa-twitter"></i> <%= t ".twitter" %>
                      </a>
                    </div>
                  </div>
                  <div class="bottom text-center"><%= t ".new_here" %>
                    <b>
                      <%= link_to t(".signup"), new_user_registration_path %>
                    </b>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div id="notificationContainer">
  <div id="notificationsBody">
    <% if current_user %>
      <% @activities.each do |f| %>
        <%= render "activities/notification", f:f %>
      <% end %>
    <% end %>
  </div>
  <div id="notificationFooter">
    <%= link_to t("static_pages.notification.see_all"), root_path %>
  </div>
</div>
