<div class="header">
  <div class="container">
    <div class="header-main">
      <div class="logo wow bounceInLeft">
        <%= link_to root_path do %>
          <%= image_tag "logo1.png" %>
        <% end %>
      </div>
      <div class="top-navg">
        <span class="menu"><%= image_tag "icon.png" %></span>
        <nav class="cl-effect-13">
          <ul class="res">
            <li><%= link_to t("tour"), tours_path %></li>
            <li><%= link_to t("place"), places_path %></li>
            <li><%= link_to t("review"), reviews_path %></li>
            <li><%= link_to t("login"), new_user_session_path %></li>
          </ul>
        </nav>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
