<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"><%= t ".sr_only" %></span>
      </button>
      <%= link_to t(".title"), root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text"><%= t ".navbar_text" %></p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b><%= t ".login" %></b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu">
            <li>
              <div class="row">
                <div class="col-md-12">
                  <form class="form" role="form" method="post" action="login"
                    accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                      <label class="sr-only" for="InputEmail2"><%= t "email" %>
                      </label>
                      <input type="email" class="form-control" id="InputEmail2"
                        placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="InputPassword2">
                        <%= t ".password" %></label>
                      <input type="password" class="form-control"
                        id="InputPassword2" placeholder="Password" required>
                      <button type="submit" class="btn btn-primary btn-block">
                        <%= t ".signin" %></button>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><%= t ".remember_me" %>
                      </label>
                    </div>
                    <div class="help-block text-left">
                      <a href=""><%= t ".forget" %></a>
                    </div>
                  </form>
                  <%= t ".login_via" %>
                  <div class="social-buttons">
                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook">
                      </i> <%= t ".facebook" %></a>
                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter">
                      </i> <%= t ".twitter" %></a>
                  </div>
                </div>
                <div class="bottom text-center"><%= t ".new_here" %>
                  <a href="#"><b><%= t ".signup" %></b></a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
