<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <script type="text/javascript" src="js/jquery.min.1.9.js"></script>
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <div class="div-content-application">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </body>
</html>
